<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Time Tracker</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="polyfill.js"></script>
	<script src="lokijs.js"></script>
	<link rel="stylesheet" href="../css/skeleton.css">
	<link rel="stylesheet" href="tracker.css">
</head>
<body>
	<div id="app" class="container">
		<h3>Time Tracker</h3>
		<form v-on:submit.prevent>
			<input type="date" v-model="workDate" placeholder="Date" required>
			<input type="text" v-model="workDesc" autofocus placeholder="Description" ref="workDesc" required>
			<input type="text" v-model="workTime" placeholder="Work Time" required>
			<span v-if="isEdit">
				<button v-on:click="updateEntry" class="button-primary">Update Entry</button>
				<button v-on:click="clearEntry" class="button-primary">Clear Entry</button>
			</span>
			<button v-on:click="addEntry" v-else class="button-primary">Add Entry</button>
			
			<button v-on:click="deleteAllEntries" class="button-primary u-pull-right">Delete All</button>
		</form>
		<hr>
		<div>
			<table class="u-full-width">
				<thead>
					<th>Date</th>
					<th>Description</th>
					<th>Time (minutes)</th>
					<th></th>
				</thead>
				<tbody>
					<tr v-for="logEntry in logEntries">
						<td>{{ logEntry.logDate }}</td>
						<td>{{ logEntry.logDesc }}</td>
						<td>{{ displayTime(logEntry.logTime) }}</td>
						<td>
							<a href="#" v-on:click="editEntry(logEntry.id)">Edit</a>&nbsp;
							<a href="#" v-on:click="deleteEntry(logEntry.id)">Delete</a>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><b>{{ totalTime }} Hours total</b></td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script>
		function getDate() {
			let today = new Date();
			let tmonth = (today.getMonth() + 1).toString().padStart(2, '0');
			let tdate = today.getDate().toString().padStart(2, '0');
			return today.getFullYear() + '-' + tmonth + '-' + tdate;
		}

		let app = new Vue ({
			el: '#app',
			data: {
				editId: -1,
				workDate: getDate(),
				workDesc: '',
				workTime: '',
				logEntries: [],
				db: null,
				entries: null,
			},
			computed: {
				totalTime: function() {
					let result = 0.0;
					for (let i = 0; i < this.logEntries.length; i++) {
						entry = this.logEntries[i];
						result += parseInt(entry.logTime);
					}
					return result / 60;
				},
				isEdit: function() {
					return this.editId > -1;
				}
			},
			mounted: function() {
				this.db = new loki('log.db', {
					autoload: true,
					autoloadCallback : this.databaseInitialize,
					autosave: true, 
					autosaveInterval: 10000
				});
			},
			beforeDestroy: function() {
				this.db.saveDatabase();
			},
			methods: {
				databaseInitialize: function() {
					this.entries = this.db.getCollection("entries");
					if (this.entries === null) {
						this.entries = this.db.addCollection("entries");
					}

					this.refreshDb();
				},
				refreshDb: function() {
					let view = this.entries.addDynamicView("viewLog");
					view.applySimpleSort("logDate", true);

					let list = view.data();

					this.logEntries = [];
					for (let i = 0; i < list.length; i++) {
						// console.log(list[i]);
						this.logEntries.push(this.createEntry(list[i]));
					}
				},
				clearEntry: function() {
					this.workDate = getDate();
					this.workDesc = '';
					this.workTime = '';
					this.editId = -1;
				},
				addEntry: function() {
					let newEntry = this.createEntry();
					this.logEntries.push(newEntry);
					this.entries.insert(newEntry);
					this.refreshDb();
					this.clearEntry();
					this.$refs.workDesc.focus();
				},
				createEntry: function(item) {
					if (typeof item === "undefined") {
						let newId = this.entries.maxId;
						let newTime = this.convertTime(this.workTime);

						item = { id: newId, logDate: this.workDate, logDesc: this.workDesc, logTime: newTime };
					}
					return { id: item.id, logDate: item.logDate, logDesc: item.logDesc, logTime: item.logTime };
				},
				updateEntry: function() {
					this.entries.findAndUpdate({ id: this.editId }, (obj) => {
						obj.id = this.editId,
						obj.logDate = this.workDate,
						obj.logDesc = this.workDesc,
						obj.logTime = this.convertTime(this.workTime.toString())
					});
					this.refreshDb();
					this.clearEntry();
				},
				deleteEntry: function(id) {
					this.entries.findAndRemove({ id: id });
					this.refreshDb();
					this.clearEntry();
				},
				deleteAllEntries: function() {
					if (confirm("Deleting ALL entries. Are you sure?")) {
						this.entries.findAndRemove();
						this.refreshDb();
						this.clearEntry();
					}
				},
				editEntry: function(id) {
					let entry = this.entries.findOne({'id':id});
					if (typeof entry != "undefined") {
						this.workDate = entry.logDate;
						this.workDesc = entry.logDesc;
						this.workTime = entry.logTime;
						this.editId = id;
					}
				},
				convertTime: function(workTime) {
					workTime = workTime.trim().toUpperCase();
					let uom = workTime.substr(workTime.length - 1);
					let result = workTime;

					switch (uom) {
						case "M":
							result = workTime.replace("M", "");
							break;
						case "H":
							result = workTime.replace("H", "") * 60;
							break;
						case "D":
							result = workTime.replace("D", "") * 60 * 8;
							break;
						case "W":
							result = workTime.replace("W", "") * 60 * 8 * 5;
							break;
					}
					return result;
				},
				displayTime: function(logTime) {
					if (logTime > 479) {
						result = logTime / 480 + " D";
					}
					else if (logTime > 60) {
						result = logTime / 60 + " H";
					}
					else {
						result = logTime + " M";
					}
					return result;
				}
			}
		})
	</script>
</body>
</html>